/* src/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #353b46;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.project-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

@media (max-width: 600px) {
  .project-container {
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    width: 100%;
  }
}
